.elementor-kit-11{--e-global-color-primary:#6EC1E4;--e-global-color-secondary:#54595F;--e-global-color-text:#7A7A7A;--e-global-color-accent:#61CE70;--e-global-color-3be4f27:#29206C;--e-global-color-0aa8be3:#F4326C;--e-global-color-5acbdad:#1DCA78;--e-global-color-c657189:#AF91D1;--e-global-color-b055ae0:#FFFFFF;--e-global-color-68a49ec:#666666;--e-global-color-91fc904:#F08001;--e-global-color-854861c:#C8C8C8;--e-global-color-43b69b3:#FF8E00;--e-global-color-a9df9d4:#000000;--e-global-color-ba86a1d:#2A5DA2;--e-global-color-3076b83:#FF8E00;--e-global-color-ae17f24:#00A3E2;--e-global-color-ecbf2c2:#00A577;--e-global-color-5b0b71c:#000000;--e-global-color-07ae316:#76D900;--e-global-color-fd3f454:#000000;--e-global-color-e409a83:#002FB4;--e-global-color-81e9cfe:#544D89;--e-global-color-2ebfcc5:#181818;--e-global-color-df62f40:#F4F4FF;--e-global-color-1dbe0c5:#FB8CB1;--e-global-color-3a3c37e:#6467F0;--e-global-color-7741e65:#6B6B86;--e-global-color-8746fdd:#F8F8F8;--e-global-color-93ff18d:#6161CA;--e-global-typography-primary-font-family:"Aeonik";--e-global-typography-primary-font-weight:normal;--e-global-typography-secondary-font-family:"Aeonik";--e-global-typography-secondary-font-weight:normal;--e-global-typography-text-font-family:"Aeonik";--e-global-typography-text-font-weight:normal;--e-global-typography-accent-font-family:"Aeonik";--e-global-typography-accent-font-weight:normal;--e-global-typography-3378a5b-font-family:"Aeonik";--e-global-typography-3378a5b-font-size:2.3em;--e-global-typography-3378a5b-font-weight:700;--e-global-typography-3378a5b-text-transform:none;--e-global-typography-3378a5b-line-height:1em;--e-global-typography-930d16c-font-family:"Aeonik";--e-global-typography-930d16c-font-size:1.8em;--e-global-typography-930d16c-line-height:1.3em;--e-global-typography-846b6f3-font-family:"Aeonik";--e-global-typography-846b6f3-font-size:1.3em;--e-global-typography-846b6f3-line-height:1.6em;--e-global-typography-7a20aa7-font-family:"Aeonik";--e-global-typography-7a20aa7-font-size:1.7em;--e-global-typography-7a20aa7-font-weight:700;--e-global-typography-7a20aa7-text-transform:none;--e-global-typography-7a20aa7-line-height:1em;--e-global-typography-2fafac6-font-family:"Aeonik";--e-global-typography-2fafac6-font-size:1.5em;--e-global-typography-2fafac6-font-weight:700;--e-global-typography-2fafac6-text-transform:none;--e-global-typography-2fafac6-line-height:1em;--e-global-typography-2cb6ab2-font-family:"Aeonik";--e-global-typography-2cb6ab2-font-size:1.3em;--e-global-typography-2cb6ab2-font-weight:700;--e-global-typography-2cb6ab2-text-transform:none;--e-global-typography-2cb6ab2-line-height:1em;--e-global-typography-f343d72-font-family:"Aeonik";--e-global-typography-f343d72-font-size:2.8em;--e-global-typography-f343d72-font-weight:700;--e-global-typography-f343d72-line-height:1em;--e-global-typography-4d5b9bc-font-family:"Aeonik";--e-global-typography-4d5b9bc-font-size:1.2em;--e-global-typography-4d5b9bc-line-height:1.4em;font-family:"Aeonik", Sans-serif;}.elementor-kit-11 a{color:var( --e-global-color-5acbdad );font-family:"Aeonik", Sans-serif;}.elementor-kit-11 h1{font-family:"Aeonik", Sans-serif;font-weight:bold;}.elementor-kit-11 h2{font-family:"Aeonik", Sans-serif;font-weight:bold;}.elementor-kit-11 h3{font-family:"Aeonik", Sans-serif;font-weight:bold;}.elementor-kit-11 h4{font-family:"Aeonik", Sans-serif;font-weight:bold;}.elementor-kit-11 h5{font-family:"Aeonik", Sans-serif;font-weight:bold;}.elementor-kit-11 h6{font-family:"Aeonik", Sans-serif;font-weight:bold;}.elementor-section.elementor-section-boxed > .elementor-container{max-width:1140px;}.elementor-widget:not(:last-child){margin-bottom:20px;}{}h1.entry-title{display:var(--page-title-display);}@media(max-width:1024px){.elementor-kit-11{--e-global-typography-3378a5b-font-size:2em;--e-global-typography-930d16c-font-size:1.6em;--e-global-typography-846b6f3-font-size:1.2em;--e-global-typography-7a20aa7-font-size:1.5em;--e-global-typography-2fafac6-font-size:1.35em;--e-global-typography-2cb6ab2-font-size:1.2em;--e-global-typography-f343d72-font-size:2.3em;}.elementor-section.elementor-section-boxed > .elementor-container{max-width:1024px;}}@media(max-width:767px){.elementor-kit-11{--e-global-typography-3378a5b-font-size:1.7em;--e-global-typography-930d16c-font-size:1.4em;--e-global-typography-846b6f3-font-size:1.1em;--e-global-typography-7a20aa7-font-size:1.4em;--e-global-typography-2fafac6-font-size:1.2em;--e-global-typography-2cb6ab2-font-size:1.1em;--e-global-typography-f343d72-font-size:1.8em;}.elementor-section.elementor-section-boxed > .elementor-container{max-width:767px;}}/* Start custom CSS */body {
    margin: 0;
    padding: 0;
}

.react-toggle {
    touch-action: pan-x;
    display: inline-block;
    position: relative;
    cursor: pointer;
    background-color: transparent;
    border: 0;
    padding: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
}
.react-toggle-screenreader-only {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.react-toggle--disabled {
    cursor: not-allowed;
    opacity: 0.5;
    -webkit-transition: opacity 0.25s;
    transition: opacity 0.25s;
}
.react-toggle-track {
    width: 50px;
    height: 24px;
    padding: 0;
    border-radius: 30px;
    background-color: #4d4d4d;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.react-toggle:hover:not(.react-toggle--disabled) .react-toggle-track {
    background-color: #000;
}
.react-toggle--checked .react-toggle-track {
    background-color: #19ab27;
}
.react-toggle--checked:hover:not(.react-toggle--disabled) .react-toggle-track {
    background-color: #128d15;
}
.react-toggle-track-check {
    position: absolute;
    width: 14px;
    height: 10px;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
    line-height: 0;
    left: 8px;
    opacity: 0;
    -webkit-transition: opacity 0.25s ease;
    -moz-transition: opacity 0.25s ease;
    transition: opacity 0.25s ease;
}
.react-toggle--checked .react-toggle-track-check,
.react-toggle-track-x {
    opacity: 1;
    -webkit-transition: opacity 0.25s ease;
    -moz-transition: opacity 0.25s ease;
    transition: opacity 0.25s ease;
}
.react-toggle-track-x {
    position: absolute;
    width: 10px;
    height: 10px;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
    line-height: 0;
    right: 10px;
}
.react-toggle--checked .react-toggle-track-x {
    opacity: 0;
}
.react-toggle-thumb {
    transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    position: absolute;
    top: 1px;
    left: 1px;
    width: 22px;
    height: 22px;
    border: 1px solid #4d4d4d;
    border-radius: 50%;
    background-color: #fafafa;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    transition: all 0.25s ease;
}
.react-toggle--checked .react-toggle-thumb {
    left: 27px;
    border-color: #19ab27;
}
.react-toggle--focus .react-toggle-thumb {
    -webkit-box-shadow: 0 0 3px 2px #0099e0;
    -moz-box-shadow: 0 0 3px 2px #0099e0;
    box-shadow: 0 0 2px 3px #0099e0;
}
.react-toggle:active:not(.react-toggle--disabled) .react-toggle-thumb {
    -webkit-box-shadow: 0 0 5px 5px #0099e0;
    -moz-box-shadow: 0 0 5px 5px #0099e0;
    box-shadow: 0 0 5px 5px #0099e0;
}


.coinsmart-btn a.elementor-button {
    -webkit-box-shadow: 9px 9px 15px 5px rgba(0,0,0,0.12); 
    box-shadow: 9px 9px 15px 5px rgba(0,0,0,0.12);
}

/* FEES TABLES SCROLLBARS */
@media screen and (max-width:700px){
   /* !important is needed sometimes */
    .elementor-widget-jet-table ::-webkit-scrollbar {
        width: 12px !important;
     }

     /* Track */
    .elementor-widget-jet-table ::-webkit-scrollbar-track {
       -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3) !important;
       -webkit-border-radius: 10px !important;
       border-radius: 10px !important;
     }

     /* Handle */
    .elementor-widget-jet-table ::-webkit-scrollbar-thumb {
       -webkit-border-radius: 10px !important;
       border-radius: 10px !important;
       background: #f4326c !important; 
       -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5) !important; 

     }
    .elementor-widget-jet-table ::-webkit-scrollbar-thumb:window-inactive {
       background: #f4326c !important; 
     }
}/* End custom CSS */
/* Start Custom Fonts CSS */@font-face {
	font-family: 'Aeonik';
	font-style: normal;
	font-weight: normal;
	font-display: auto;
	src: url('../../../../../www.coinsmart.com/wp-content/uploads/2021/01/Aeonik-Light.html') format('woff2'),
		url('../../../../../www.coinsmart.com/wp-content/uploads/2021/01/Aeonik-Light-2.html') format('woff');
}
@font-face {
	font-family: 'Aeonik';
	font-style: normal;
	font-weight: bold;
	font-display: auto;
	src: url('../../../../../www.coinsmart.com/wp-content/uploads/2021/01/Aeonik-Bold.html') format('woff2'),
		url('../../../../../www.coinsmart.com/wp-content/uploads/2021/01/Aeonik-Bold-2.html') format('woff');
}
/* End Custom Fonts CSS */